@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-part1{
  font-size: 8vh;
  padding: 2vh;
}

.nav-part2{
  display: flex;
  align-items: center;
}

